@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.introductionContainer{
    background-color: #0891B2;
    margin-bottom: 2rem;

}
.introductionContent{
    width: 70%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
}

.introductionText{
    margin-top: 2rem;
    border-radius: 1px;
    flex-grow: 0;
    box-shadow: 5px 5px 30px 4px rgba(0,0,0,0.75);
    margin-bottom: 2rem;
    padding-left: 2rem;
    position: relative;
    padding-right: 2rem;
    background-color: white;
    max-width: 800px;
}

.introductionText > h1 {
    font-weight: 500;
}

.introductionText >p {
    color: rgb(75, 75, 75);
}

.flx{
    display: flex;
}

.flxCenter{
    justify-content: center;
}

body{
    margin: 0px;
}


*{
    font-family: "inter";
}

.social{
    position: absolute;
    right: 4rem;
    bottom: 4rem;
}

.imageContainer{
    position: relative;
}

.imgName{
    position:absolute;
    bottom: 1rem;
    left: 1rem;
    color: rgb(87, 87, 87);
    font-size: 2rem;
    font-weight: 600;
    margin: auto;
}

.myWork{
    width: 70%;
    margin: auto;
}

.projectInfoContainer{
    background-color: white;
    margin-top: 0px;
    box-shadow: 5px 5px 30px 4px rgba(0,0,0,0.75);
    padding: 1rem;
}
    

.card{
    width: 250px;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;

}

.projectImage{
    margin: 0px;
    padding: 0px;
    display: block;
}


.projectName {
    font-weight: 600;
}

.projectDescription{
    margin-top: .5rem;
    max-height: 100px;
    overflow: hidden;
    font-size: .9rem;
    color: rgb(117, 117, 117);
}



.footer{
    margin-top: 4rem;
    background-color:#0891B2;
}

.footerContent{
    color: white;
    width: 70%;
    margin: auto;
    display: flex;
}


.footerText{
    margin-top: 2rem;
}